body {
    background-color: dimgrey;
}

#mainTitle {
    font-size: 400%;
    display: table;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

article, section {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table {
    display: table;
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: auto;
    list-style: none;
    padding-top: inherit;
}

ul#horizontal-list li {
    display: inline-block;
    padding: 0px 10px;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
    font-weight: bolder;
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}